:root {
    --clr: #149ad8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

button {
    background: none;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    border: none;
}

a {
    position: relative;
    background: grey;
    padding: 10px 30px;
    transition: 0.5s;
}

button:hover {
    letter-spacing: 0.2em;
    color: var(--clr);

}

a:hover {
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}



a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}

a:hover i::before {
    transform: translateX(-50%) rotate(45deg);
    left: 0%;
    box-shadow: 36px 37px var(--clr);
}

a i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}

a:hover i::after {
    transform: translateX(-50%) rotate(-45deg);
    left: 100%;
    box-shadow: 36px -37px var(--clr);
}